.Loginwindow {
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
}

.Loginbase {
  position: fixed;
  inset: 0;
  background-color: rgba(100, 100, 100, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.HorizontalMenu {
  position: fixed;
  height: 40px;
  width: 95%;
  border: 3px solid black;
  display: flex;
  justify-content: end;
}

.Vertical {
  border: 5px solid black;
  position: fixed;
  height: 100%;
  width: 100px;
  transition: 200ms;
  transform: translateX(-110px);
}